body {
  margin: 0px;
}
/*navbar*/
.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  background-color: #1b1b1b;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  color: #fff;
  margin-top: 4vh;
  cursor: pointer;
}

.open-cart-button {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 3.5vh;
  cursor: pointer;
}

/*Banner styles*/
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/1238941/pexels-photo-1238941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.banner-container {
  text-align: center;
  padding: 15% 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 72px;
  font-weight: bold;
}

.banner p {
  font-size: 40px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
